.promo__content {
    padding: 135px 0 0 40px;
    @include media-tablet {
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    @media (max-width: 643px) {
        align-items: center;
    }
    @include media-mobile {
        padding: 0;
        align-items: center;
    }
    
    @include media-mobilesmall {
        padding: 0;
        align-items: center;
    }
}
.promo__title {
    width: 310px;
    margin: 0;
    padding-top: 89px;
    @include media-tablet {
        padding-top: 50px;
    }
    @include media-mobilesmall {
        width: 300px;
        padding-top: 50px;
    }
}
.promo__text {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $color-dark-s;
    width: 460px;
    padding-top: 27px;
    padding-bottom: 27px;
    @include media-tablet {
        margin: 0;
    } 
    @media (max-width: 643px) {
        width: 330px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    @include media-mobilesmall {
        width: 300px;
    }
}
.promo__image {
    position: relative;
    top: 60px;
    right: 40px;
    @include media-tablet {
        top: 100px;
        right: 0;
    }
}
