.header {
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    // padding-top: 60px;
    // padding-left: 40px;
    // padding-right: 40px;
    padding: 60px 40px 0px 40px;
    @include media-tablet {
        padding: 30px 30px 0px 30px;
    }
    @include media-mobile {
        padding: 30px 10px 0px 10px;
    }
}
.header__wrapper  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
